/*  your css code here. If applicable */
 .container {
            width: 300px;
            padding: 20px;
            border: 3px solid black;
            border-radius: 40px;
            background-color: lightgray;
            text-align: center;
            margin: 50px auto;
        }

        .red, .green, .yellow {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }